########################################
# Service ports and urls               #
########################################
#
# Most of these can be kept as is.
# You probably only need to change these ports if you run multiple
# services simultaneously on your local dev machine.
#

HTTP_PORT=8082

GRPC_PORT=8083

########################################
# Pelias configuration               #
########################################
#
# Pelias configuration. This comes in 2 flavours.
# Uncomment the flavour that suits your needs, and comment out the other
#
# 1. host name based with same ports for all regions
#
# e.g. 
# - pelias-iberian-peninsula-api
# - pelias-west-europe-api
#
# PELIAS_PERFIX=pelias-
# PELIAS_API_POSTFIX=-api
# PELIAS_API_PORT=3100
#
# 2. non-deterministic hostnames and ports per service
#
PELIAS_API_REGION_HOSTS=iberian-peninsula:192.168.1.222,west-europe:192.168.1.222
PELIAS_API_REGION_PORTS=iberian-peninsula:33111,west-europe:33121

########################################
# Valhalla configuration             #
########################################
#
# Valhalla configuration. This comes in 2 flavours.
# Uncomment the flavour that suits your needs, and comment out the other
#
# 1. host name based with same ports for all regions
#
# e.g. 
# - valhalla-iberian-peninsula
# - valhalla-west-europe
#
# VALHALLA_PREFIX=valhalla-
# VALHALLA_POSTFIX=
# VALHALLA_PORT=8002
#
# 2. non-deterministic hostnames and ports per service
#
VALHALLA_REGION_HOSTS=iberian-peninsula:192.168.1.222,west-europe:192.168.1.222
VALHALLA_REGION_PORTS=iberian-peninsula:33001,west-europe:33002

########################################
# Regionservice connection           #
########################################
#
# Connection details to the regionservice
#

REGIONSERVICE_HOST=regionservice.example.com
REGIONSERVICE_PORT=8081
