HTTP_PORT=8082
GRPC_PORT=8083

# PELIAS_PERFIX=pelias-
# PELIAS_API_POSTFIX=-api
# PELIAS_API_PORT=3100

PELIAS_API_REGION_HOSTS=iberian-peninsula:192.168.1.222,west-europe:192.168.1.222
PELIAS_API_REGION_PORTS=iberian-peninsula:33111,west-europe:33121

# VALHALLA_PREFIX=valhalla-
# VALHALLA_POSTFIX=
# VALHALLA_PORT=8002

VALHALLA_REGION_HOSTS=iberian-peninsula:192.168.1.222,west-europe:192.168.1.222
VALHALLA_REGION_PORTS=iberian-peninsula:33001,west-europe:33002

REGIONSERVICE_HOST=127.0.0.1
REGIONSERVICE_PORT=8081
